@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

.addbutton {
  box-shadow: 0px 4px 49px rgba(47, 75, 255, 0.65);
  background: #2f4bff;
  transition: ease-in-out 0.2s;
}

.addbutton:hover {
  transform: scale(1.2, 1.2);
}

.custom-input:focus {
  outline: none;
}

.dropdown {
  z-index: 99999;
}

.custom-button {
  background: #2f4bff;
  color: white;
  transition: ease-in-out 0.2s;
}

.pass-btn {
  transform: translateY(4px);
}

.pass-logo {
  transform: translateX(1.4px);
}
